[Desktop Entry]
Name=Flameshot
Comment=Powerful yet simple-to-use screenshot software
Icon=flameshot
Exec=env QT_AUTO_SCREEN_SCALE_FACTOR=0 QT_SCREEN_SCALE_FACTORS="1;1" flameshot
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
StartupNotify=false
