[Unit]
Description=Flameshot screenshot tool
Documentation=man:flameshot(1)
PartOf=graphical-session.target

[Service]
Environment="QT_AUTO_SCREEN_SCALE_FACTOR=0"
Environment="QT_SCREEN_SCALE_FACTORS=1;1"
ExecStart=%h/.nix-profile/bin/flameshot
Restart=on-failure

[Install]
WantedBy=graphical-session.target
